<div class="card text-center">
	<div class="card-header">
	<img class="card-img-top" [src]="logo" alt="logo" style="width: 18rem;">
		<h1>{{title}}</h1>
	</div>
	<div class="card-body">
		<p class="lead">
			Micro empresa colombiana que confecciona ropa para caballeros.<br>
			Tendencias y estilos a la banguardia para hombres modernos. Ofrecemos
			un amplio catálogo de Camisas Formales, Pantalones Formales y
			Chaquetas.
		</p>
	</div>
	<div class="card-footer text-muted">Contacto: Calle 4 Sur # 43 -
		80, El Poblado, Medellin - Colombia. Teléfono: 4305262.</div>
</div>


